<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='device-width, initial-scale-1.0' >
        <title>Restaurant</title>
    </head>
    <body>
        <div class="top">
            <div>
                <p class="step">Step</p>
                <p class="ordering">Ordering</p>
            </div>
            <div>
                <p class=categories_label>Categories</p>
            </div>
            <div>
                <a href = '' class="home">
                    Home
                </a>
                <a href = '' class="cart">
                    Cart
                </a>
            </div>
            
        </div>
        <div class = 'categories'>
            {% for category in categories %}
                <ol class = 'category'>
                    <a href="?category={{ category.id }}">{{ category.name }} </a>
                </ol>
            {% endfor %}
            </div>
        

        <div> <!--  კონტეინერი რომელიც შეიცავს კალათაში არსებული პროდუქტების კონტეინერებს-->
            {% for product in products %}<!-- გადავუყვებით ყველა პროდუქტს რომელიც არის კალათაში და თითოეულს მოვათავსებთ თვაის კონტეინერში -->
                <div class = 'cart_item'>
                    <!-- თითოეული პროსუქტისთვის უნდა იყოს შემდეგი ელემენტები: 1) ღილაკი რომელიც მთლიანად წაშლის ამ პროდუქტს კალათიდან 2) სურათი 3) დასახელება 
                     +- ღილაკები, 5) რაოდენობა 6) ერთი ცალის ფასი და 7) შესაბამისი რაოდენობის ფასი-->
                </div>
        </div>
    </body>
</html>
