{% extends "restaurant/base.html" %}
{% block content %}
    <body>
        <div class = 'cart_cont'> <!--  კონტეინერი რომელიც შეიცავს კალათაში არსებული პროდუქტების კონტეინერებს-->
            {% for product in products %}<!-- გადავუყვებით ყველა პროდუქტს რომელიც არის კალათაში და თითოეულს მოვათავსებთ თვაის კონტეინერში -->
                <div class = 'cart_item'>
                    <!-- თითოეული პროსუქტისთვის უნდა იყოს შემდეგი ელემენტები: 1) ღილაკი რომელიც მთლიანად წაშლის ამ პროდუქტს კალათიდან 2) სურათი 3) დასახელება 
                     +- ღილაკები, 5) რაოდენობა 6) ერთი ცალის ფასი და 7) შესაბამისი რაოდენობის ფასი-->

                     <!-- აქ არის 1) ღილაკი რომელიც წაშლის პროდუქტს მთლიანად კალათიდან-->
                     <form method = 'POST' action="{% url 'update_cart' %}">
                        {% csrf_token %}
                        <input type = 'hidden' name = 'product_id' value = "{{ product.productId }}">
                        <input type = 'hidden' name = 'action' value = "remove">
                       <button type = "submit">X</button>
                     </form>
                     <!-- 2) პროდუქტის სურათი -->
                    <img src="{{ product.image }}" class='prod_img'>
                    <!-- 3) დასახელება-->
                    <p>{{ product.prod }}</p>
                    <div class='info'>   
                        <!-- 4) - ღილაკი-->
                        <form method = 'POST' action="{% url 'update_cart' %}">
                            {% csrf_token %}
                            <input type = 'hidden' name = 'product_id' value = "{{ product.productId  }}">
                            <input type = 'hidden' name = 'action' value = "reduce">
                        <button type = "submit">-</button>
                        </form>
                        <!-- 5) რაოდენობა -->
                        <p>{{ product.quantity }}</p>
                    
                        <!-- 4) + ღილაკი-->
                        <form method = 'POST' action="{% url 'update_cart' %}">
                            {% csrf_token %}
                            <input type = 'hidden' name = 'product_id' value = "{{ product.productId }}">
                            <input type = 'hidden' name = 'action' value = "add">
                        <button type = "submit">+</button>
                        </form>
            
                        <!-- 6) ერთი ერთეულის ფასი-->
                        <p>${{ product.price }}</p>

                        <!-- 7) მოცემული პროდუქტის მოცემული რაოდენობის ფასი-->
                        <p> ${{ product.tot}}</p>
                    </div>
                </div>
            {%endfor%}
            <div class='cart_total'>Total: $ {{ total }}</div>
        </div>
    </body>
    {% endblock %}
</html>
