{% extends "restaurant/base.html" %}
{% block content %}


    <div class = 'categories'>
        <li>
            <a href="{% url 'menu'%}" class='category'>All</a>
        </li>
            {% for category in categories %}
                <li class = 'category'>
                    <a href="?category={{ category.id }}">{{ category.name }} </a>
                </li>
            {% endfor %}
    </div>
    <div class = 'layout'>
        <div class = 'filters'>
            <h1>Filters</h1>
            
            <form method = 'GET'>
                <div class='slidecontainer'>
                    <label> 
                        Spiciness 
                    </label>
                    <input type='range' min='0' max='4' name='spicy' class='slider'>
                    <label>
                        <input type="checkbox" name='any' value='1'>Any</input>
                    </label>
                </div>
                <div class='options'>
                    <label>
                        <input type="checkbox" name='vegetarian' value='1'>Vegetarian</input>
                    </label>
                    <label>
                        <input type="checkbox" name='nuts' value='1'>Nuts</input>
                    </label>
                </div>
                    <button type='button' class='apply_button' onclick="window.location.href='{% url 'menu' %}'">Reset</button>
                    <button type='submit' class='apply_button'>Apply</button>
                
            </form>
            
        </div>
        <div class='products'>
            {% for product in products %}
                <div class = 'product'>
                    <div>
                        <img src="{{ product.image }}" class='prod_img'>
                        <p>Price:{{ product.price }}</p>
                        <p>
                            Spicy:
                            {% if product.spiciness == 0 %}
                                Not Spicy
                            {% endif %}
                            {% if product.spiciness == 1 %}
                                🌶️
                            {% endif %}
                            {% if product.spiciness == 2 %}
                                🌶️🌶️
                            {% endif %}
                            {% if product.spiciness == 3 %}
                                🌶️🌶️🌶️
                            {% endif %}
                            {% if product.spiciness == 4 %}
                                🌶️🌶️🌶️🌶️
                            {% endif %}
                        </p>
                        <p>Vegetarian:
                            {% if product.vegetarian %}
                            yes
                            {% endif %}
                            {% if not product.vegetarian %}
                                No
                            {% endif %}
                        </p>
                         <p>Nuts:
                            {% if product.nuts %}
                            yes
                            {% endif %}
                            {% if not product.nuts %}
                                No
                            {% endif %}
                        </p>
                        </div>
                        <div>
                            <form method = 'POST' action="{% url 'add_to_cart' %}">
                                {% csrf_token %}
                                <input type = 'hidden' name = 'product_id' value = "{{ product.id }}"">
                                <button type = "submit" class='add_to_cart_button'>Add to Cart</button>
                            </form>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
